<div>
    <div class="container">
    <label><b>Username</b></label>
    <input type="text" placeholder="Enter email" name="email" [(ngModel)] ="email" required>

    <label><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw"[(ngModel)] ="pw" required>
    <label>
        <input type="checkbox" checked="checked"> Remember me
    </label>

    <button value="login" (click)="loginUser()">Login</button>

    <hr>
    <div>
        <a [routerLink]= "['register']" (click)="login('register')">Not register yet ?</a>
    </div>
  </div>

  <div class="container" style="background-color:#f1f1f1">
    <button type="button" class="cancelbtn">Cancel</button>
    <span class="psw">Forgot <a href="#">password?</a></span>
  </div>

  <div class="container text-center">
      <p>OR</p>
      <button class="btn btn-primary loginbtnfacebook text-center" (click)="login('google')"> <i class="fa fa-google">login with google</i></button>
      <button class="btn btn-primary loginbtngoogle" (click)="login('facebook')"> <i class="fa fa-facebook-square">login with facebook</i></button>
  </div>
  <div class="text-center">
    <a (click)="login('without-login')"> proceed without signing in </a>
  </div>
</div>



