<content>
  <div class="text-center">
        <h2> <b>Let's Get In Touch!</b></h2>
  </div>     
    <div class="row">
        <div class="col ml-auto text-center">
          <p>Phone: 0176-0000-0009</p>
        </div>    
         
        <div class="col mr-auto text-center">
          <p> Email:
            <a href="mailto:your-email@your-domain.com">abc0@gmail.com</a>
          </p>
        </div>    
    </div> 
  <form>
    <div class="form-group">
      <label for="name">Full Name:</label>
      <input type="name" class="form-control" id="name">
      <label for="number">Phone Number:</label>
      <input type="number" class="form-control" id="number">
      <label for="email">Email address:</label>
      <input type="email" class="form-control" id="email">
    </div>
    <div class="form-group">
      <label for="text">Message:</label>
      <input type="text" class="form-control" id="text">
    </div>
    <div class="checkbox">
      <label><input type="checkbox"> Remember me</label>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>              
</content>
<footer class="blockquote-footer text-center transparent-box">Copyright © Your Website 2017</footer>