<div>
  <p>Would you like to add your favourite team ?</p>
</div>
<div class="dropdown">
    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
      Team
    </button>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="#">U1</a>
      <a class="dropdown-item active" href="#">U2</a>
      <a class="dropdown-item disabled" href="#">U3</a>
      <a class="dropdown-item disabled" href="#">U4</a>
      <a class="dropdown-item disabled" href="#">U5</a>
      <a class="dropdown-item disabled" href="#">U6</a>
    </div>

  </div>

    <div class="container" class="add" >
        <button type="button" class="btn">add</button>
    </div>
