<h3 class="text-center"><strong>Upcoming Games</strong></h3>
<hr>
            <div class="each-match row">
                <div class="col text-center">
                  <br>
                    <img class="team-logo" src="../../../assets/img/cas_logo.png" alt="">
                </div>
                <div class="col text-center">
                    <p>25.12.2018 10:30
                    <br>
                    <a href="https://www.google.de/maps/place/Howard+A.+Yeager+School+(PREK-K)/@42.3154422,-87.8560698,17z/data=!4m12!1m6!3m5!1s0x880feccac26b07c5:0x8b51fa5d6efe771a!2sHoward+A.+Yeager+School+(PREK-K)!8m2!3d42.3154383!4d-87.8538811!3m4!1s0x880feccac26b07c5:0x8b51fa5d6efe771a!8m2!3d42.3154383!4d-87.8538811">AJ Katzenmaier</a> </p>
                </div>
                <div class="col text-center">
                    <br>
                        <img class="team-logo" src="../../../assets/img/us.png" alt="">
                </div>
            </div>
            <hr>
            <div class="each-match2 row">
                    <div class="col text-center">
                        <br>
                        <img class="team-logo" src="../../../assets/img/fake.png" alt="">
                    </div>
                    <div class="col text-center">
                            <p>25.12.2018 10:30
                            <br>
                                    <a href="https://www.google.de/maps/place/Howard+A.+Yeager+School+(PREK-K)/@42.3154422,-87.8560698,17z/data=!4m12!1m6!3m5!1s0x880feccac26b07c5:0x8b51fa5d6efe771a!2sHoward+A.+Yeager+School+(PREK-K)!8m2!3d42.3154383!4d-87.8538811!3m4!1s0x880feccac26b07c5:0x8b51fa5d6efe771a!8m2!3d42.3154383!4d-87.8538811">Marjorie Hart</a> </p>
                    </div>
                    <div class="col text-center">
                        <br>
                            <img class="team-logo" src="../../../assets/img/warriors_badge.jpg" alt="">
                    </div>
                </div>
                <hr>
                <div class="each-match row">
                        <div class="col text-center">
                            <br>
                            <img class="team-logo" src="../../../assets/img/center.png" alt="">
                        </div>
                        <div class="col text-center">
                                <p>25.12.2018 10:30
                                <br>
                                        <a href="https://www.google.de/maps/place/Howard+A.+Yeager+School+(PREK-K)/@42.3154422,-87.8560698,17z/data=!4m12!1m6!3m5!1s0x880feccac26b07c5:0x8b51fa5d6efe771a!2sHoward+A.+Yeager+School+(PREK-K)!8m2!3d42.3154383!4d-87.8538811!3m4!1s0x880feccac26b07c5:0x8b51fa5d6efe771a!8m2!3d42.3154383!4d-87.8538811">Howard School</a> </p>
                        </div>
                        <div class="col text-center">
                            <br>
                                <img class="team-logo" src="../../../assets/img/download.jpg" alt="">
                        </div>
                    </div>
                    <hr>
                    <div class="each-match2 row">
                            <div class="col text-center">
                                <br>
                                <img class="team-logo" src="../../../assets/img/us.png" alt="">
                            </div>
                            <div class="col text-center">
                                    <p>25.12.2018 10:30
                                    <br>
                                            <a href="https://www.google.de/maps/place/Howard+A.+Yeager+School+(PREK-K)/@42.3154422,-87.8560698,17z/data=!4m12!1m6!3m5!1s0x880feccac26b07c5:0x8b51fa5d6efe771a!2sHoward+A.+Yeager+School+(PREK-K)!8m2!3d42.3154383!4d-87.8538811!3m4!1s0x880feccac26b07c5:0x8b51fa5d6efe771a!8m2!3d42.3154383!4d-87.8538811">Greenbay</a> </p>
                            </div>
                            <div class="col text-center">
                                <br>
                                    <img class="team-logo" src="../../../assets/img/fake.png" alt="">
                            </div>
                        </div>
                        <hr>
